{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
<style>
    .h-cb {
        position: relative;
        width: 200px;
        min-height: 200px;
    }

    .h-cb con {
        display: flex;
        flex-direction: column;
    }

    .h-cb .campus-name {
        position: absolute;
        left: 50%;
        top: 50%;
    }

    .h-cb .campus-image {
        width: 100%;
        height: 200px;
    }
</style>
<div class="h-cb">
    <div class="con">
        <div class="campus-image">
            <img height="200" width="200"
                 src="{{ file_url(term.field_main_image[0].entity.field_media_image[0].entity.uri.value) }}"
                 alt="{{ term.field_main_image[0].entity.field_media_image[0].alt }}">
        </div>
        <div>
            {{ term.field_accent_color.value }}
        </div>
    </div>
    <div class="campus-name">
        {{ term.name.value }}
    </div>
</div>

